<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="green">
<meta name="Keywords" content="亚洲旅行网">
<meta name="Description" content="境外专业旅行服务提供机构">

<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png">
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="images/splash/splash-icon-big.png">
<link rel="apple-touch-startup-image" href="images/splash/splash-screen.png" 	media="screen and (max-device-width: 320px)" /> 
<link rel="apple-touch-startup-image" href="images/splash/splash-screen@2x.png" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" />
<link rel="apple-touch-startup-image" href="images/splash/splash-screen-six.png" media="(device-width: 375px)">
<link rel="apple-touch-startup-image" href="images/splash/splash-screen-six-plus.png" media="(device-width: 414px)">
<link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen@3x.png" />
<link rel="apple-touch-startup-image" sizes="1024x748" href="images/splash/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
<link rel="apple-touch-startup-image" sizes="768x1004" href="images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
<link rel="apple-touch-startup-image" sizes="1536x2008" href="images/splash/splash-screen-ipad-portrait-retina.png"   media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)"/>
<link rel="apple-touch-startup-image" sizes="1496x2048" href="images/splash/splash-screen-ipad-landscape-retina.png"   media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)"/>

<title>首页 - 亚洲旅行网</title>

<link href="styles/framework.css"	rel="stylesheet" type="text/css">
<link href="styles/style.css"		rel="stylesheet" type="text/css">
<link href="styles/owl.theme.css"	rel="stylesheet" type="text/css">
<!--link href="styles/font-awesome.css"	rel="stylesheet" type="text/css"-->
<!--link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"	rel="stylesheet"-->
</head>
<body>
<div id="preloader" style="display:none;">
	<div id="status">
    	<p class="center-text">
			Loading ...
            <em>Loading depends on your connection speed!</em>
        </p>
    </div>
</div>
<div class="all-elements">
    <div id="content" class="snap-content">
        <div class="slider-container half-bottom">
            <div class="homepage-slider" data-snap-ignore="true">
                <div>
                    <img src="images/pictures/1.jpg" class="responsive-image" alt="img">
                </div>
                <div>
                    <img src="images/pictures/2.jpg" class="responsive-image" alt="img">
                </div>
                <div>
                    <img src="images/pictures/3.jpg" class="responsive-image" alt="img">
                </div>
                <div>
                    <img src="images/pictures/4.jpg" class="responsive-image" alt="img">
                </div>
            </div>
        </div>
        
        <div class="contenter half-bottom">
            <div class="portfolio-adaptive adaptive-four">
                <div class="adaptive-item">
                    <a href="hotel.html" title="Hotels Here">
                        <img class="responsive-image" src="./images/hotels.png" alt="img">
                        <div class="center-text">酒店</div>
                    </a>
                </div>
                <div class="adaptive-item">
                    <a href="javascript:void(0);" title="Flights Goes Here">
                        <img class="responsive-image" src="./images/flights.png" alt="img">
                        <div class="center-text">机票</div>
                    </a>
                </div>
                <div class="adaptive-item">
                    <a href="javascript:void(0);" title="Attractions Here">
                        <img class="responsive-image" src="./images/tickets.png" alt="img">
                        <div class="center-text">景点</div>
                    </a>
                </div>
                <div class="adaptive-item">
                    <a href="javascript:void(0);" title="Cars Here">
                        <img class="responsive-image" src="./images/cars.png" alt="img">
                        <div class="center-text">租车</div>
                    </a>
                </div>
                <div class="adaptive-item">
                    <a href="javascript:void(0);" title="Hotels flights attractions Here">
                        <img class="responsive-image" src="./images/fht.png" alt="img">
                        <div class="center-text">机+酒+景</div>
                    </a>
                </div>
                <div class="adaptive-item">
                    <a href="javascript:void(0);" title="Tickets Goes Here">
                        <img class="responsive-image" src="./images/fh.png" alt="img">
                        <div class="center-text">机+酒</div>
                    </a>
                </div>
                <div class="adaptive-item">
                    <a href="javascript:void(0);" title="Transfers Goes Here">
                        <img class="responsive-image" src="./images/transfers.png" alt="img">
                        <div class="center-text">接送服务</div>
                    </a>
                </div>
                <div class="adaptive-item">
                    <a href="javascript:void(0);" title="Hotels attractions Here">
                        <img class="responsive-image" src="./images/ht.png" alt="img">
                        <div class="center-text">酒+景</div>
                    </a>
                </div>
            </div>
		</div>
		
        <div class="container half-bottom">
        	<div class="recommends" id="recommend">
        		<ul class="list-length-3">
        			<li>
		        		<h5>11月热玩</h5>
		            	<p>人少景更美最优之选</p>
		            	<img src="images/i_29.jpg" class="fr" width="100%">
            		</li>
	            	<li>
	            		<img src="images/i_34.jpg" class="float-left">
	            		<h5>精彩游记</h5>
	            		<p>记录最温馨的时刻</p>
	            	</li>
	            	<li>
	            		<img src="images/i_34-03.jpg" class="float-left">
	            		<h5>亲子游</h5>
	            		<p>一家人欢乐出游</p>
	            	</li>
	            </ul>
        	</div>
        </div>
		<div class="container half-bottom">
			<h3 class="half-top">发现更多精彩</h3>
			<div>
				<img src="images/i_50.jpg" alt="img" title="法国印象" width="100%">
			</div>
			<div class="promotions">
				<ul class="list-length-2">
        			<li>
		            	<img src="images/i_51.jpg" width="100%">
		            	<h5>[元旦假期］北京往返日本岛</h5>
		            	<div>9.8折<em><span class="price">1799</span>元起</em></div>
            		</li>
	            	<li>
	            		<img src="images/i_52.jpg" width="100%">
	            		<h5>记录最温馨的时刻</h5>
		            	<div>9.8折<em><span class="price">2799</span>元起</em></div>
	            	</li>
	            </ul>
        	</div>
		</div>
		<div class="container full-bottom">
			<div class="half-top"><div class="c-ad">今日<br>爆款</div><img src="images/i_62.jpg" alt="img" width="100%"></div>
			<h5>上海－直飞夏威夷7- 8天游寻觅异国海底风情</h5>
			<p class="">［双11特惠］开启异国浪漫之旅...</p>
		</div>
	    <div class="toper">
			<a id="toper-gps" class="toper-gps" href="gps.html">北京</a><div class="toper-in"><input type="text" class="s-in" placeholder="地点、酒店、景点、机票"></div><a href="tel:+4002227899" class="toper-tel"><i>&nbsp;</i></a>
		</div>
    </div>
</div>
<div id="menu"></div>
<script src="https://cdn.bootcss.com/jquery/1.12.1/jquery.js"></script>
<script src="js/framework.js"></script>
<script src="js/custom.js"></script>
<script>
	var gps = document.getElementById("toper-gps");
	if(localStorage.province){
		gps.innerHTML = localStorage.province;
	}else{
		gps.innerHTML = '北京';
	}
	
</script>
</body>
</html>